body {
  font-family: var(--theme-main-font, 'Roboto');
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.float-left { float: left; }
.float-right { float: right; }
.display-none { display: none; }
.display-none:target { display: block; }
.clear-both:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container {
  padding: 12px;
}

.dark-bg {
  background-color: var(--theme-color-600, #757575);
  color: var(--theme-text-color-0, #ffffff);
}
main > * {
  max-width: 1024px;
  margin: 0 auto;
}

a-nav-drawer > h2 {
  height: var(--theme-height-app-bar, 56px);
  text-align: center; 
  line-height: var(--theme-height-app-bar, 56px); 
  margin:0;
}

an-app-bar, a-bottom-nav-bar, a-button, a-checkbox, a-chip, a-dialog, an-expansion-panel,
a-grid-list, an-icon, a-list, a-menu, a-nav-drawer, a-nav-item, a-radio-butotn, 
a-refresh-indicator, a-search, a-switch, a-tabs, a-text-field, a-tooltip {
  display: none; /* to avoid FOUC */
}